{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid" >
<div class="jumbotron" style="text-align:center; background-color:#17A589;">
          <h2><strong>Welcome to Quote-flow </strong></h2>
        </div>
        <img src="https://i.ytimg.com/vi/s1Aqi8fwAUQ/maxresdefault.jpg" height="400px" width="1100px" style="margin:50px"><br>
  <a class="btn btn-primary btn btn-sm" href="/post/new">New Post</a>
   <a class="btn btn-primary btn btn-sm" href="/posts">View posts</a>           
</div>
{% endblock %}

